@using SimpleCrm
@model SimpleCrm.Web.Models.Home.CustomerEditViewModel

<h1>Create</h1>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    ViewBag.Title = "New Customer";
    <div>
        @Html.LabelFor(x => x.FirstName)
        @Html.EditorFor(x => x.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div>
        @Html.LabelFor(x => x.LastName)
        @Html.EditorFor(x => x.LastName)
        @Html.ValidationMessageFor(m => m.LastName)

    </div>
    <div>
        @Html.LabelFor(x => x.PhoneNumber)
        @Html.EditorFor(x => x.PhoneNumber)
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
    <div>
        @Html.LabelFor(x => x.OptInNewsletter)
        @Html.CheckBoxFor(x => x.OptInNewsletter)
    </div>
    <div>
        @Html.LabelFor(x => x.Type)
        @Html.DropDownListFor(x => x.Type, Html.GetEnumSelectList(typeof(CustomerType)))
    </div> 
    <input type="submit" value="Save" />
}

