@model HomePageViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Customers";
}

        <h1>Customers</h1>
        
        <table>
            @foreach (var customer in Model.Customers)
           {
               <tr>
                   <td>
                   <a asp-action="Details" asp-route-id="@customer.Id">@customer.Id</a></td>
                   <td><a asp-action="Edit" asp-route-id="@customer.Id">@customer.FirstName</a></td>
                   <td><a asp-action="Edit" asp-route-id="@customer.Id">@customer.LastName</a></td>
                   <td><a asp-action="Edit" asp-route-id="@customer.Id">@customer.PhoneNumber</a></td>
               </tr>
           }
            <tr> </tr>
        </table>

        <a asp-action="Create" asp-controller="Home">Create</a>

        @section footer {
            <p>@Model.CurrentMessage</p>
        }