@using SimpleCrm.Web.Controllers
@model SimpleCrm.Web.Models.HomePageViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Customers";
    Layout = "_Layout";
}

        <h1>Customers</h1>
        
        <table>
            @foreach (var customer in Model.Customers)
           {
               <tr>
                   <td>@Html.ActionLink(customer.Id.ToString(), nameof(HomeController.Details), new {id = customer.Id})</td>
                   <td>@customer.FirstName</td>
                   <td>@customer.LastName</td>
                   <td>@customer.PhoneNumber</td>
               </tr>
           }
            <tr> </tr>
        </table>
        @section footer {
            <p>@Model.CurrentMessage</p>
        }